<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<div class="image-gallery banner">
   <div>
    <% @banner.limit(1).each do |banner| %>
      <% banner.pictures.each do |picture| %>
        <%= image_tag(picture.image.url(:original), :class => "slider banner-slider") %>
      <% end %>
      <div id="previous"></div>
      <div id="next" class="next-banner"></div>
      <div class="image-gallery-links banner-image-gallery-links">
        <% banner.pictures.each_with_index do |picture, index| %> 
          <a href="<%= index + 1 %>"><%= index + 1 %></a>
        <% end %>
      </div>
    <% end %>
   </div>
</div>

<div class="categories home-categories">
  <h1 class="grid-title">Product Categories</h1>
  <div class="grid">
    <% Category.all.each do |category| %>
      <div class="grid-item">
        <%= link_to image_tag(category.image.url), products_path(category: category.name) %>
        <span class="grid-caption"><%= category.name %></span>
      </div>
    <% end %>
  </div>
</div>