<div class="center">
  <div class="checkout">
      <%= simple_form_for @checkout, :html => { :multipart => true }, validate: true do |f| %>
      <div class="checkout-personal">
        <div class="checkout-personal-header">
          <p>Personal Details</p>
        </div>
        <%= f.input :first_name, input_html: {value: current_user ? current_user.first_name : "" }  %>
        <%= f.input :last_name, input_html: {value: current_user ? current_user.last_name : "" } %>
        <%= f.input :email, input_html: {value: current_user ? current_user.email : "" } %>
        <%= f.input :phone, input_html: {value: current_user ? current_user.phone : "" } %>
      </div>

      <div class="next-button custom-button center">Next</div>

      <div class="checkout-shipping">
        <div class="checkout-shipping-header">
          <p>Shipping Details</p>
        </div>
        <%= f.input :shipping_address, input_html: {value: current_user ? current_user.shipping_address : "" } %>
        <%= f.input :shipping_suburb, input_html: {value: current_user ? current_user.shipping_suburb : "" } %>
        <%= f.input :shipping_zip, input_html: {value: current_user ? current_user.shipping_zip : "" } %>
        <%= f.input :shipping_state, input_html: {value: current_user ? current_user.shipping_state : "" } %>
      </div>

      <div class="checkout-billing">
        <div class="checkout-billing-header">
          <p>Billing Details</p>
        </div>
        <%= f.input :billing_address, input_html: {value: current_user ? current_user.billing_address : "" } %>
        <%= f.input :billing_suburb, input_html: {value: current_user ? current_user.billing_suburb : "" } %>
        <%= f.input :billing_zip, input_html: {value: current_user ? current_user.billing_zip : "" } %>
        <%= f.input :billing_state, input_html: {value: current_user ? current_user.billing_state : "" } %>
      </div>

      <%= hidden_field_tag(:order_id, @order.id) %>

      <%= f.submit %>
    <% end %>
  </div>
</div>