<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="wrapper">
      <div class="nav">
        <div class="logo">
          <%= link_to image_tag("/assets/logo.jpg"), root_path %>
        </div>

        <div class="nav-links">
          <% Category.all.each do |category| %>
            <%= link_to category.name, products_path(category: category.name) %>
          <% end %>

          <span class="divider">|</span>

          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
            <% if current_user.admin %>
    
            <% end %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
            <%= link_to "Register", new_user_registration_path %>
          <% end %>
        </div>
      </div>

      <%= yield %>
      <div class="push"></div>
    </div>
    <div class="footer">
        <div class="column">
          <span class="col-header">Products</span>
          <% Category.all.each do |category| %>
            <%= link_to category.name, products_path(category: category.name) %>
          <% end %>
        </div>
        <div class="column">
          <span class="col-header">Header</span>
          <% Category.all.each do |category| %>
            <%= link_to category.name, products_path(category: category.name) %>
          <% end %>
        </div>
        <div class="column">
          <span class="col-header">Info</span>
          <% Category.all.each do |category| %>
            <%= link_to category.name, products_path(category: category.name) %>
          <% end %>
        </div>
      </div>
    
  </body>
</html>
