<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body <% if content_for?(:body_attributes) %>
        <%= yield(:body_attributes) %> 
      <% end %>>
  
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="wrapper">
    <div class="top-banner"></div>

    <div class="mob-menu">Barefoot Gypsy</div>
    <div class="mob-nav">
      <span class="menubutton">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </span>
      <div>
        <ul>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, products_path(category: category.name) %></li>
          <% end %>
          <br><br>
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <li><%= link_to "Add Product", new_product_path %></li>
              <li><%= link_to "Categories", categories_path %></li>
              <li><%= link_to "Banners", all_banners_path %></li>
              <li><%= link_to "Orders", checkouts_path %></li>
            <% end %>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <span class="cart-text-mobile"><%= render 'layouts/cart_text' %></span>
    </div>

    <div class="nav">
      <div class="logo">
        <%= link_to image_tag("/assets/logo.jpg"), root_path, 'data-turbolinks' => false %>
      </div>
      <div class="nav-links">
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, products_path(category: category.name) %></li>
        <% end %>
        <li><%= link_to "All", products_path %></li>
        <span class="word-divider">|</span>
        <li><a href="javascript:void(0)">Info</a>
          <ul class="dropdown-content">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </li>

        <% if user_signed_in? %>
          <li class="account-link"><a href="javascript:void(0)">Account</a>
            <ul class="dropdown-content">
              <li><%= link_to "My Account", edit_user_registration_path %></li>
              <% if current_user.admin %>
                <li><%= link_to "Add Product", new_product_path %></li>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Banners", all_banners_path %></li>
                <li><%= link_to "Orders", checkouts_path %></li>
              <% end %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="account-link"><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </div>
      <span class="cart-text"><%= render 'layouts/cart_text' %></span>
    </div>

    <%= yield %>

  </div>

  <div class="footer">
      <div class="column">
        <span class="col-header">Products</span>
        <% Category.all.each do |category| %>
          <%= link_to category.name, products_path(category: category.name) %>
        <% end %>
      </div>
      <div class="column">
        <span class="col-header">Header</span>
        <% Category.all.each do |category| %>
          <%= link_to category.name, products_path(category: category.name) %>
        <% end %>
      </div>
      <div class="column">
        <span class="col-header">Info</span>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
      </div>
    </div>

</body>
</html>
